In [22]:
import pandas as pd

agg = pd.read_excel("aggregated.xlsx", "Main")
predictions = pd.read_csv("predictions.csv")
data = pd.read_csv("data.csv")

In [23]:
predictions = predictions.merge(agg[["GMDNAME", "LAT_CNTR", "LONG_CNTR"]], how='left', left_index=True, right_index=True)
data = data.merge(agg.GMDNAME, how='left', left_index=True, right_index=True)

In [24]:
agg

,GMDNAME,KTNAME,LAT_CNTR,LONG_CNTR,HEIGHT_CNTR,BEVDICHTE_SQKM_ 2019,AUSLAENDER_ANTEIL_2019,ALTERSVERTEILUNG_ANTEIL_0_19_ 2019,ALTERSVERTEILUNG_ANTEIL_20_64_ 2019,ALTERSVERTEILUNG_ANTEIL_65PLUS_ 2019,...,WAEHLERANTEIL_GPS_2019,WAEHLERANTEIL_KLEINERECHTSPARTEIN_2019,AVG_INCOME_PRO_STEUERPFLPERSON,STEUERBARES_EINKOMMEN_GEMEINDE,ANZAHL_FAHRZEUGE,ANZAHL_HALTESTELLEN_OV,Anzahl Filialen Coop,Anzahl Filialen Migros,Anzahl Filialen Denner,Anzahl Filialen Spar
0,Aadorf,Thurgau,47.489522,8.908937,590.048732,453.711133,15.839505,20.404554,60.362551,19.232895,...,9.589132,1.981445,68464.601333,277.3501,6014.000001,9,1,1,1,0
1,Aarau,Aargau,47.390236,8.045227,436.236994,1764.424635,20.938777,17.383916,64.414642,18.201442,...,14.680225,0.629738,72516.345149,763.0895,10976.000000,51,3,4,2,0
2,Aarberg,Bern,47.045418,7.278088,500.020013,584.110971,12.888601,19.624352,59.045769,21.329879,...,10.256268,1.811403,64687.799155,137.8497,2807.999999,11,1,0,1,0
3,Aarburg,Aargau,47.319850,7.900250,445.406223,1899.319728,44.138013,20.475167,65.222063,14.302770,...,10.519265,1.723182,60540.820872,190.2798,4758.000002,10,0,1,1,0
4,Aarwangen,Bern,47.240244,7.770130,485.533291,466.666667,15.909091,20.541126,60.129870,19.329004,...,9.006610,2.048808,65314.566285,119.7216,2699.000000,4,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2137,Zuzwil (SG),St. Gallen,47.475095,9.110215,581.873056,534.225195,12.583472,21.222871,60.976628,17.800501,...,7.861225,1.057856,80012.956811,168.5873,3202.000000,9,1,2,1,0
2138,Zweisimmen,Bern,46.554365,7.372137,997.280874,41.643836,13.190789,16.973684,56.842105,26.184211,...,5.879006,2.809688,58806.567631,75.2136,1793.000000,29,1,1,1,0
2139,Zwieselberg,Bern,46.708072,7.616483,694.021029,133.739837,4.863222,27.051672,56.534954,16.413374,...,13.422588,6.385170,62723.214286,7.0250,178.000000,1,0,0,0,0
2140,Zwingen,Basel-Landschaft,47.435861,7.530089,395.002838,532.104122,24.419079,20.423971,64.329393,15.246637,...,8.396484,NaN,67304.796663,64.5453,1612.000000,7,0,1,0,1
2141,Zwischbergen,Valais,46.195082,8.140746,872.554934,0.860165,27.027027,2.702703,81.081081,16.216216,...,1.255230,NaN,50772.727273,2.2340,NaN,5,0,0,0,0

In [25]:
predictions

,ANZAHL_FILIALEN_MIGROS,linregModel,knnModel,rfModel,xgbrModel,ensemble,GMDNAME,LAT_CNTR,LONG_CNTR
0,1.0,1.0,1.0,1.0,1.0,1.0,Aadorf,47.489522,8.908937
1,4.0,5.0,5.0,5.0,4.0,5.0,Aarau,47.390236,8.045227
2,0.0,1.0,1.0,1.0,1.0,1.0,Aarberg,47.045418,7.278088
3,1.0,2.0,1.0,2.0,1.0,2.0,Aarburg,47.319850,7.900250
4,1.0,1.0,1.0,1.0,1.0,1.0,Aarwangen,47.240244,7.770130
...,...,...,...,...,...,...,...,...,...
2137,2.0,1.0,0.0,0.0,1.0,0.0,Zuzwil (SG),47.475095,9.110215
2138,1.0,0.0,0.0,0.0,0.0,0.0,Zweisimmen,46.554365,7.372137
2139,0.0,-0.0,0.0,0.0,0.0,0.0,Zwieselberg,46.708072,7.616483
2140,1.0,1.0,0.0,0.0,0.0,0.0,Zwingen,47.435861,7.530089
2141,0.0,0.0,0.0,0.0,0.0,0.0,Zwischbergen,46.195082,8.140746

In [26]:
data

,BEVDICHTE_SQKM_2019,AUSLAENDER_ANTEIL_2019,ALTERSVERTEILUNG_ANTEIL_0_19_2019,ALTERSVERTEILUNG_ANTEIL_20_64_2019,ALTERSVERTEILUNG_ANTEIL_65PLUS_2019,PRIVATHAUSHALTE_2019,GESAMTFLAECHE_SQKM_2016,LANDWIRTSCHAFTSFLAECHE_ANTEIL_2004,WALD_GEHOELZE_ANTEIL_2004,UNPRODUKTIVE_FLAECHE_ANTEIL_2004,...,BESCHAEFTIGTE_DRITTERSEKTOR_2018,NEUWOHNUNGEN_PRO_1000_2018,SOZAILHILFEQUOTE_2019,WAEHLERANTEIL_SP_2019,WAEHLERANTEIL_SVP_2019,AVG_INCOME_PRO_STEUERPFLPERSON,ANZAHL_FAHRZEUGE,ANZAHL_HALTESTELLEN_OV,ANZAHL_FILIALEN_MIGROS,GMDNAME
0,453.711133,15.839505,20.404554,60.362551,19.232895,3908.0,19.94,53.386854,27.997993,0.501756,...,1959.0,4.952167,1.070,10.728960,37.415507,68464.601333,6014.000001,9.0,1.0,Aadorf
1,1764.424635,20.938777,17.383916,64.414642,18.201442,10591.0,12.34,11.407767,32.281553,7.119741,...,31646.0,21.957871,3.580,26.428113,16.347677,72516.345149,10976.000000,51.0,4.0,Aarau
2,584.110971,12.888601,19.624352,59.045769,21.329879,2146.0,7.93,44.206549,29.722922,2.644836,...,1958.0,3.492687,2.740,14.825120,33.668160,64687.799155,2807.999999,11.0,0.0,Aarberg
3,1899.319728,44.138013,20.475167,65.222063,14.302770,3735.0,4.41,19.318182,31.136364,3.863636,...,2356.0,2.602876,4.920,20.964612,34.902522,60540.820872,4758.000002,10.0,1.0,Aarburg
4,466.666667,15.909091,20.541126,60.129870,19.329004,1962.0,9.90,45.795339,35.967579,3.242148,...,948.0,20.159504,3.920,13.289057,38.645406,65314.566285,2699.000000,4.0,1.0,Aarwangen
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2137,534.225195,12.583472,21.222871,60.976628,17.800501,1969.0,8.97,54.849498,23.745819,1.449275,...,1200.0,1.878914,0.610,9.440489,34.137170,80012.956811,3202.000000,9.0,2.0,Zuzwil (SG)
2138,41.643836,13.190789,16.973684,56.842105,26.184211,1385.0,73.00,54.853705,33.716161,8.025704,...,1202.0,0.990099,1.330,9.453356,50.826902,58806.567631,1793.000000,29.0,1.0,Zweisimmen
2139,133.739837,4.863222,27.051672,56.534954,16.413374,125.0,2.46,62.962963,26.337449,0.823045,...,42.0,12.345679,3.164,9.921044,40.370752,62723.214286,178.000000,1.0,0.0,Zwieselberg
2140,532.104122,24.419079,20.423971,64.329393,15.246637,1057.0,4.61,33.043478,38.478261,2.826087,...,550.0,13.253527,3.580,19.854501,33.404062,67304.796663,1612.000000,7.0,1.0,Zwingen
2141,0.860165,27.027027,2.702703,81.081081,16.216216,44.0,86.03,11.252036,28.717710,59.657901,...,28.0,0.000000,2.348,1.255230,58.577406,50772.727273,230.400000,5.0,0.0,Zwischbergen

In [27]:
agg.to_csv('aggregated.csv', index=False)
predictions.to_csv('predictions.csv', index=False)
data.to_csv('data.csv', index=False)

In [32]:
choice_model = "knnModel"
choice_option = "Consolidation"

if choice_option == "Consolidation":
  location_data = predictions[predictions[choice_model] < predictions.ANZAHL_FILIALEN_MIGROS]
elif choice_option == "Perfect":
  location_data = predictions[predictions[choice_model] == predictions.ANZAHL_FILIALEN_MIGROS]
elif choice_option == "Opportunities":
  location_data = predictions[predictions[choice_model] > predictions.ANZAHL_FILIALEN_MIGROS]

In [34]:
location_data[[choice_model, "LAT_CNTR", "LONG_CNTR"]]

      knnModel   LAT_CNTR  LONG_CNTR
9          1.0  47.070591   8.364181
22         2.0  47.277631   8.453683
26         1.0  45.997093   8.898491
37         3.0  47.550979   7.535599
38         1.0  46.940846   8.273946
...        ...        ...        ...
2130       0.0  47.330864   8.625376
2133      16.0  47.369501   8.538847
2137       0.0  47.475095   9.110215
2138       0.0  46.554365   7.372137
2140       0.0  47.435861   7.530089

[282 rows x 3 columns]